server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: customer-service
          uri: lb://customer-service
          predicates:
            - Path=/api/customers/**
        - id: vehicle-service
          uri: lb://vehicle-service
          predicates:
            - Path=/api/vehicles/**
        - id: cleaner-service
          uri: lb://cleaner-service
          predicates:
            - Path=/api/cleaners/**
        - id: booking-service
          uri: lb://booking-service
          predicates:
            - Path=/api/bookings/**
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
